venv
*.env
*.vscode
.idea
*.pdf
*.png
*.jpg
*.jpeg
*.qgs
*.json
*.code-workspace
*.pyc
*.md
*.html
*.docx
*data
*cummulative_download
*geospatial_downloads
*.sqlite3
*uploaded_files
settings.py
/EIA_app/EIA_app
*.pyc
*.pyo
*__pycache__/
*migrations
*.log